* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

.layer01 {
    margin: 0 300px 30px; /* Margem: topo 0px, laterais 300px, abaixo 30px */
}

h1 {
    font-family: "Della Respira", serif;
    /* font-style: italic; */
}

p {
    color: #000000; /* Cor do texto (preto) */
    font-size: 20px; /* Tamanho da fonte */
    font-family: "Della Respira", serif, Helvetica; /* Tipo da fonte */
    text-align: justify; /* Alinhamento do texto à esquerda | left, justify, right*/

    /* text-transform: lowercase;  
       Transforma o texto:
       - uppercase → tudo em MAIÚSCULAS
       - lowercase → tudo em minúsculas
       - capitalize → primeira letra de cada palavra maiúscula */

    /* letter-spacing: 5px;
       Espaçamento horizontal entre as letras */

    /* word-spacing: 20px;
       Espaçamento horizontal entre as palavras */

    /* line-height: 40px;
       Espaçamento vertical entre as linhas do parágrafo */

    text-shadow: 0px 2px 2px #979797; /* Obrigatorio colocar os 3 parametros */
}
